<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.altimin.hat">
    <uses-sdk android:minSdkVersion="14"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activities.StartGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GameActivity" android:label="Game"/>
        <activity android:name=".activities.RoundActivity" android:label="Game round"/>
    </application>
</manifest>
